@tailwind base;
@tailwind components;
@tailwind utilities;

button, button[type="submit"] {
  /* @apply background  */
  background-color: black;
  color: white;
  border-radius: .25rem;
  padding: .2rem .5rem;
}

input {
  background-color: transparent;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 100;
  letter-spacing: 0.125rem;
  padding: 1rem 0;
}

body, #root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}